# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Jupyter / editor files
.ipynb_checkpoints/
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
